<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327760304674-0c3kii5pr5mp13e3nodjbfqt7fg472jj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327760304674-0c3kii5pr5mp13e3nodjbfqt7fg472jj</string>
	<key>API_KEY</key>
	<string>AIzaSyCAmfYOyPmC7VRfZyPCVvuPOuwcnFfHzV4</string>
	<key>GCM_SENDER_ID</key>
	<string>327760304674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>l.jose.hundredDaysOfSweat</string>
	<key>PROJECT_ID</key>
	<string>hundred-days-of</string>
	<key>STORAGE_BUCKET</key>
	<string>hundred-days-of.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327760304674:ios:a47afb7a2c55e6d5a4087b</string>
	<key>DATABASE_URL</key>
	<string>https://hundred-days-of.firebaseio.com</string>
</dict>
</plist>